

.aboutme {
    display: flex;
    background-color: #121212;
    padding: 30px 0px ;
    border-radius: 8px;
    justify-content: space-between;
    margin: 0;
}

.myself {
    margin-left: 320px;
    width: 400px;
    border-radius: 10px;
}

.aboutme_texts {
    margin-right: 260px;
    margin-left: 50px;
}


.aboutme_title {
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0;
}

.me {
    color: rgb(5, 108, 242);
}

.aboutme_p {
    font-size: 20px;
}

